{{> head}}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Jimi Hendrix</h1>
        <p>Texto de relleno</p>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <img src="../assets/img/hendrix.jpg" alt="hendrix" class="img-thumbnail">
    </div>
</div>

{{> footer}}